td {
    padding: 15px 0;
    border-bottom: 1px solid grey;
}

.cart td {
    padding: 10px 50px;
}
.cart__table{
    margin: 0 auto;
    height: 600px;
    margin-top: 50px;
    width: 700px;
    -webkit-box-shadow: -1px 0px 33px 10px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: -1px 0px 33px 10px rgba(34, 60, 80, 0.2);
    box-shadow: -1px 0px 33px 10px rgba(34, 60, 80, 0.2);
}
thead{
    display: flex;
}
.img img{
    padding-left: 20px;
    padding-top: 20px;
    width: 200px;
    height: auto;
}
ul{
    margin-left: 50px;
}
ul span{
    border-bottom: 1px solid #000;
    padding-left: 20px;
}
li{
    padding-top: 20px;
    list-style-type: none;
}
.btn_sum{
    padding-left: 20px;
    padding-top: 20px;
    margin-bottom: 20px;
}
.btn_sum button{
    border: 2px solid red;
    outline: none;
    width: 250px;
    padding: 10px;
    cursor: pointer;
    color: #000;
    font-size: 20px;
    transition: 0.5s;
}
.btn_click:hover{
    color: rgb(255, 0, 0);
    background-color: #000;
}   




@media screen and (max-width: 768px){
    .cart__table{
        height: fit-content;
        width: 80%;
    }
}