body, html {
    line-height: 1.4;
    font-family: -apple-system,BlinkMacSystemFont,Open Sans,Roboto,Helvetica Neue,Helvetica,sans-serif;
    font-size: 14px;
}

.container__footer {
    margin: 0 auto;
    padding: 0 15px;
    width: 100%;
    background-color: white;
    color: black
}

.footer_black{
    margin: 0 auto;
    padding: 0 15px;
    width: 100%;
    background-color: black;
    color:white;
}


.footer-t-preview[data-toggle-theme=light] {
    background: #fff;
    color: #212529;
    border-color: #e5e5e5;
}

.footer-t-preview {
   
    width: 22px;
    height: 22px;
    margin-right: 10px;
    padding-left: 2px;
    padding-top: 1px;
    font-weight: 500;
    border-radius: 3px;
    border: 2px solid transparent;
    cursor: pointer;
}
.tooltip {
    position: relative;
}
.tooltip[data-place^=top]:after {
    bottom: 100%;
    margin-bottom: 5px;
}

/* DARK A */
.footer-t-preview[data-toggle-theme=dark] {
    background: #1c1c1e;
    color: #ddd;
    border-color: #38383a;
   
   
}

.page{
    -webkit-box-direction: normal;
}

.footer-t-preview, .pb-10,  .nofollow {
   
    color: black;
}



.footer__nav-link:hover{
    color: var(--text-link);
}

.footer__nav {
    display: flex;
    margin-left: 10px;
   

}
