

.reduction-prices__title{
   
    margin-left: 15px;
    padding-bottom: 20px;
}




.reduction-prices__list{
    display: flex;
    justify-content: center;
    margin-right: 10px;
    flex-wrap: wrap;
    /* width: auto; */
} 

.reduction-prices {
    background-color: #f6f6f6;
    padding: 65px 0;
}

.page-text {
    background-color: #e9e9e9;
    padding: 70px 0;
}

.page-text__title {
    font-family: Play,Arial,sans-serif;
    font-size: 20px;
    color: #1d1d1d;
    font-weight: 700;
    margin: 0 0 30px;
    margin-left: 20px;
}
.parag{
  
    margin: 0 0 10px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 10px;
    margin-left: 0px;
        position: relative;
        margin-left: 15px;
    
}




.page-text__more-link {
    font-family: Play,Arial,sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #0d0d0d;
    font-size: 12px;
    position: relative;
    margin-left: 20px;
    padding-top: 30px;
   
}

div {
    display: block;
}
a{
    /* text-decoration: none; */
    background-color: transparent;
  
  
    outline: none!important;
}

.page-text__more-link:after {
    content: "";
     
    width: 5px;
    height: 9px;
    display: inline-block;
    padding-left: 16px;
}

/* .limited {
    max-height: 400px;
    overflow: hidden;
    position: relative;
} */

/* .read-more-checker:checked ~  .limited {
    max-height: none;
  }

  .read-more-checker:checked ~  .limited .bottom{
    opacity: 0;
    transition: .3s;
  }


.limited .bottom{
    position: absolute;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 80%);
    width: 100%;
    height: 1900px;
    opacity: 1;
    transition: .3s;
} */

.read-more-checker{
   opacity: 0;
   position: absolute;
}

.read-more-button{
  cursor: pointer;
  display: inline-block;
  padding: 10px;
  color: #777;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.read-more-checker ~ .read-more-button:after{
  content: 'Читать дальше >>';
}

.read-more-checker:checked ~ .read-more-button:after{
    content: 'Скрыть >>';
  }



  .ul-orange {
 display: flex;
 justify-content: center;

}

.container__fluid__contain {
    max-width: 1236px;
    padding-left: 24px;
    padding-right: 24px;
    margin-right: auto;
    margin-left: auto;
}

.container-fluid:after, .container-fluid:before {
    content: " ";
    display: table;
}

.ul-orange{
    display: flex;
    flex-direction: column;
}

.game__price{
    color: blue;
}

@media all and (max-width: 1000px){
    .reduction-prices__title{
        text-align: center;
        font-size: 15px;
    }
    /* .container-fluid__contain{
        width: 580px;
        display: flex;
        justify-content: center;
    } */


}

@media all and (max-width: 1000px){
    .reduction-prices{
        width: 139% !important;
        display: flex !important;
        justify-content: center !important;
    }
}
@media all and (max-width: 809px){
    .reduction-prices{
        width: 151% !important;
        display: flex !important;
        justify-content: center !important;
        
    }
    .game__image-fotka{
        display: flex;
        justify-content: center;
        width: 227px;
        height: 220px;
    }
}

@media all and (max-width: 768px){
    .reduction-prices{
        width: 170% !important;
        display: flex !important;
        justify-content: center !important;
    }
}

@media all and (max-width: 666px){
    .reduction-prices{
        width: 185% !important;
        display: flex !important;
        justify-content: center !important;
    }
}

@media all and (max-width: 620px){
    .reduction-prices{
        width: 198% !important;
        display: flex !important;
        justify-content: center !important;
    }
}

@media all and (max-width: 570px){
    .reduction-prices{
        width: 215% !important;
        display: flex !important;
        justify-content: center !important;
    }
}

@media all and (max-width: 515px){
    .reduction-prices{
        width: 238% !important;
        display: flex !important;
        justify-content: center !important;
    }
}

@media all and (max-width: 462px){
    .reduction-prices{
        width: 269% !important;
        display: flex !important;
        justify-content: center !important;
    }
}

@media all and (max-width: 400px){
    .reduction-prices{
        width: 305% !important;
        display: flex !important;
        justify-content: center !important;
    }
}

@media all and (max-width: 360px){
    .reduction-prices{
        width: 340% !important;
        display: flex !important;
        justify-content: center !important;
    }
}







